# Dataset
ambulance_dataset/

# Frames & temp data
frames/
temp/

# Output files
output/
output.mp4

# YOLO training results
runs/

# Model weights
*.pt

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc